@font-face {
  // Aileron-SemiBold
  font-family: 'Aileron';
  src: url('~/assets/fonts/aileron/aileron-semibold.eot');
  src: url('~/assets/fonts/aileron/aileron-semibold.eot?#iefix') format('embedded-opentype'), url('~/assets/fonts/aileron/aileron-semibold.woff') format('woff'), url('~/assets/fonts/aileron/aileron-semibold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  // Kanit-Regular
  font-family: 'Kanit';
  src: url('~/assets/fonts/kanit/kanit-regular.eot');
  src: url('~/assets/fonts/kanit/kanit-regular.eot?#iefix') format('embedded-opentype'), url('~/assets/fonts/kanit/kanit-regular.woff') format('woff'), url('~/assets/fonts/kanit/kanit-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  // Aileron-Bold
  font-family: 'Aileron';
  src: url('~/assets/fonts/aileron/aileron-bold.eot');
  src: url('~/assets/fonts/aileron/aileron-bold.eot?#iefix') format('embedded-opentype'), url('~/assets/fonts/aileron/aileron-bold.woff') format('woff'), url('~/assets/fonts/aileron/aileron-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  // Kanit-Medium
  font-family: 'Kanit';
  src: url('~/assets/fonts/kanit/kanit-medium.eot');
  src: url('~/assets/fonts/Kanit/kanit-medium.eot?#iefix') format('embedded-opentype'), url('~/assets/fonts/kanit/kanit-medium.woff') format('woff'), url('~/assets/fonts/kanit/kanit-medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// Mitr
@font-face {
  // Aileron-Heavy
  font-family: 'Aileron';
  src: url('~/assets/fonts/aileron/aileron-heavy.eot');
  src: url('~/assets/fonts/aileron/aileron-heavy.eot?#iefix') format('embedded-opentype'), url('~/assets/fonts/aileron/aileron-heavy.woff') format('woff'), url('~/assets/fonts/aileron/aileron-heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  // Kanit-Semibold
  font-family: 'Aileron';
  src: url('~/assets/fonts/kanit/kanit-semibold.eot');
  src: url('~/assets/fonts/kanit/kanit-semibold.eot?#iefix') format('embedded-opentype'), url('~/assets/fonts/kanit/kanit-semibold.woff') format('woff'), url('~/assets/fonts/kanit/kanit-semibold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
