
@import 'common';
// @import 'font';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/jumbotron';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/media';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/carousel';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/print';




html {
	// Root font size for REM unit
	font-size: 16px;
  }
  
  h1 {
	font-size: 1.6rem;
  }
  
  h1, h2, h3, h4, h5, h6, button {
	@include font-family(sans-serif);
	line-height: unset;
	color: $primary-color;
	font-family: $sans-serif-font-family;
  }
  
  p{
	@include font-family(sans-serif);
	line-height: unset;
  }
  
  body {
	@include font-family(serif);
	font-size: 1rem;
	font-weight: normal;
	padding-top: 66px;
	background-color: red;
	// color: $body-color;
  }
  th, tr, span, label, input {
	font-family: $sans-serif-font-family;
  }
  
